# NumPy data files
*.npy

#Weekly Data Update Files
*.txt

# Local data folders
initial_data/
capstone/data/raw/
capstone/data/processed/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

